@charset "UTF-8";
/*---- Font face ----*/
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf") format("truetype");
}
* {
  font-family: "Roboto-Light";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
figure {
  margin: 0;
}

h2 {
  padding-bottom: 10px;
  width: 100%;
  font-size: 3.5em;
  letter-spacing: 2px;
  text-align: center;
}

/* ---- Timeline de mon parcours ----- */
body {
  font-family: "Effra", Helvetica, sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

p {
  color: #768390;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  color: #ff6b6b;
}
a:hover {
  color: #ff9a9a;
  text-decoration: none;
}

.example-header {
  background: #3d4351;
  color: #fff;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #f1f4f5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #e4eaec;
}
.example-title p {
  margin: 0 auto;
  max-width: 400px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #ff6b6b;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  z-index: 99;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #ccd5db;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 9px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #ff6b6b;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #ccd5db;
  border-bottom: 3px solid #ccd5db;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
.timeline-split .timeline-marker,
.timeline-centered .timeline-marker,
.timeline-split .timeline-content,
.timeline-centered .timeline-content,
.timeline-split .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-centered,
.timeline-centered .timeline-item,
.timeline-centered .timeline-info,
.timeline-centered .timeline-marker,
.timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
.timeline-centered .timeline-content {
    width: 48%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #ff6b6b;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #ff6b6b;
}

/* HEADER ----------- */
header {
  height: 150px;
  filter: opacity(0.9);
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  z-index: 999999;
  width: 100%;
}

nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  overflow: hidden;
}

nav .cv {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 2px;
  color: #fff;
}

nav ul {
  display: flex;
  width: auto;
}

nav p {
  padding-left: 15px;
}

nav li {
  padding: 0 15px 0 15px;
  padding-left: 15px;
  color: #fff;
}

nav a {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav a:hover {
  transition-property: color;
  color: #cc4e4e;
  transition-duration: 500ms;
}

/* -----Image d'illustration------ */
.home img {
  height: auto;
  filter: opacity(0.3);
}

.home h2 {
  border-bottom: 0;
  margin: 0 0 20px 0;
}

.home figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
  background-color: #cc4e4e;
  margin: 150px auto auto auto;
}

.home figure figcaption {
  position: absolute;
  width: 900px;
  z-index: 10;
  color: white;
}

hr {
  width: 60%;
  margin: 0 auto 50px auto;
  filter: opacity(0.7);
}

figcaption p {
  letter-spacing: 1px;
  font-style: italic;
  quotes: "«" "»";
}

/* ---- Dimensions des blocs ---- */
main,
header {
  width: 1600px;
  margin: 0 auto 0 auto;
}

a.parcours:target ~ #parcours {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

section {
  margin: 0 0 5vw 0;
}

q {
  font-size: 1.3em;
  letter-spacing: 1px;
  font-style: italic;
  quotes: "«" "»";
}

/*--- cards de mes projets ---- */
.card {
  --card-blend-mode: overlay;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  background-image: linear-gradient(var(--card-gradient), white max(9.5rem, 27vh));
  overflow: hidden;
}
.card .projects {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  mix-blend-mode: var(--card-blend-mode);
}
.card > :last-child {
  margin-bottom: 0;
}

.card-overlay {
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.85);
}

.card:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projets .project-description {
  text-align: center;
  margin: 40px 0 40px 0;
}

.card h3 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.card a {
  color: inherit;
}

.card p {
  text-align: center;
}

.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
  width: 100%;
}

/* --- arrow to top --- */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

#accueil:target,
#profil:target,
#parcours:target,
#projets:target,
#contact:target {
  padding-top: 5vw;
  margin-top: -5vw;
}

/*# sourceMappingURL=style.css.map */
/*----- Contact ----- */
h1 {
  font-family: "Poppins", sans-serif, "arial";
  font-weight: 600;
  font-size: 72px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h3 {
  text-align: center;
}

.form-group {
  padding: 20px 20px;
  width: 50%;
  margin: auto;
}

input {
  height: 0px;
}

button {
  width: 100px;
  height: 50px;
  margin: auto;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #777777;
}

input:focus,
textarea:focus {
  outline: 0;
}

@media all and (max-width: 1440px) {
  main,
header,
.home img {
    width: 1300px;
  }

  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content,
.timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    padding-left: 0;
  }
}
@media all and (max-width: 992px) {
  .home figure figcaption {
    width: 600px;
  }

  h1,
h2 {
    margin: 0;
    font-size: 40px;
  }

  .home h2 {
    margin: 0;
  }

  hr {
    margin-bottom: 20px;
  }

  q {
    font-size: 1em;
  }

  main,
header,
.home img {
    width: 100%;
  }

  .parcours,
.projets,
.contact {
    width: 80%;
    margin: auto;
  }

  .parcours h2 {
    margin-bottom: 30px;
  }

  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content,
.timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    padding-left: 30px;
  }

  .projets .project-description {
    margin-top: 10vw;
  }

  .contact {
    margin-top: 20vw !important;
  }

  .contact h3 {
    margin: 30px 30px;
    font-weight: normal;
  }

  .form-group label {
    font-size: 1.5em;
  }

  .form-group {
    width: 80%;
  }

  input,
textarea {
    margin-top: 10px;
  }

  input {
    padding: 0;
    height: 50px;
  }

  textarea {
    padding: 0;
  }

  button {
    width: 50%;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
