/* ---- Timeline de mon parcours ----- */

$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);
body {
    color: #768390;
    background: #FFF;
    font-family: "Effra", Helvetica, sans-serif;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3D4351;
    margin-top: 0;
}

a {
    color: $primary-color;
    &:hover {
        color: $primary-color-hover;
        text-decoration: none;
    }
}

.example-header {
    background: #3D4351;
    color: #FFF;
    font-weight: 300;
    padding: 3em 1em;
    text-align: center;
    h1 {
        color: #FFF;
        font-weight: 300;
        margin-bottom: 20px
    }
    p {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
    }
}

.container-fluid {
    .row {
        padding: 0 0 4em 0;
        &:nth-child(even) {
            background: #F1F4F5;
        }
    }
}

.example-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
    p {
        margin: 0 auto;
        font-size: 16px;
        max-width: 400px;
    }
}


/*==================================
    TIMELINE
==================================*/


/*-- GENERAL STYLES
    ------------------------------*/

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: inherit;
    }
}


/*----- TIMELINE ITEM -----*/

.timeline-item {
    padding-left: 40px;
    position: relative;
    &:last-child {
        padding-bottom: 0;
    }
}


/*----- TIMELINE INFO -----*/

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}


/*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    &:before {
        background: $primary-color;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    }
    &:after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 24px;
        bottom: 0;
        left: 6px;
    }
    .timeline-item:last-child &:after {
        content: none;
    }
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid $primary-color;
}


/*----- TIMELINE CONTENT -----*/

.timeline-content {
    padding-bottom: 40px;
    p:last-child {
        margin-bottom: 0;
    }
}


/*----- TIMELINE PERIOD -----*/

.period {
    padding: 0;
    .timeline-info {
        display: none;
    }
    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 15px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            position: absolute;
            border-top: 3px solid #CCD5DB;
            border-bottom: 3px solid #CCD5DB;
        }
        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }
    .timeline-content {
        padding: 40px 0 70px;
    }
    .timeline-title {
        margin: 0;
    }
}


/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

.timeline-split {
    @media (min-width: 768px) {
        .timeline {
            display: table;
        }
        .timeline-item {
            display: table-row;
            padding: 0;
        }
        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }
        .timeline-marker {
            position: relative;
        }
        .timeline-content {
            padding-left: 30px;
        }
        .timeline-info {
            padding-right: 30px;
        }
        .period .timeline-title {
            position: relative;
            left: -45px;
        }
    }
}


/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/

.timeline-centered {
    @extend .timeline-split;
    @media (min-width: 992px) {
        &, .timeline-item, .timeline-info, .timeline-marker, .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }
        .timeline-item {
            padding-bottom: 40px;
            overflow: hidden;
        }
        .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }
        .timeline-info,
        .timeline-content {
            width: 48%;
        }
        >.timeline-item:nth-child(odd) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        >.timeline-item:nth-child(odd) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        >.timeline-item:nth-child(even) .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        >.timeline-item:nth-child(even) .timeline-content {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        >.timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .timeline-item.period {
            padding: 50px 0 90px;
        }
        .period .timeline-marker:after {
            height: 30px;
            bottom: 0;
            top: auto;
        }
        .period .timeline-title {
            left: auto;
        }
    }
}


/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/

.marker-outline {
    .timeline-marker {
        &:before {
            background: transparent;
            border-color: $primary-color;
        }
    }
    .timeline-item:hover .timeline-marker:before {
        background: $primary-color;
    }
}


/*---- Font face ----*/

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf") format("truetype");
}

* {
    font-family: "Roboto-Light";
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
figure {
    margin: 0;
}

h2 {
    padding-bottom: 10px;
    width: 100%;
    font-size: 3.5em;
    letter-spacing: 2px;
    border-bottom: 2px solid black;
}


/* HEADER ----------- */

header {
    height: 150px;
    filter: opacity(0.9);
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
}

nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    overflow: hidden;
}

nav .cv {
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #fff;
}

nav ul {
    display: flex;
    width: 650px;
}

nav p {
    padding-left: 3%;
}

nav li {
    padding: 0 15px 0 15px;
    padding-left: 15px;
    color: #fff;
}

nav a {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav a:hover {
    transition-property: color;
    color: #960096;
    transition-duration: 500ms;
}


/* -----Image d'illustration------ */

.home img {
    width: 100%;
    height: auto;
    filter: opacity(0.2);
}

.home h2 {
    border-bottom: 0;
    margin: 0 0 20px 0;
}

figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
    background: #610061;
    margin-top: 150px;
}

figure figcaption {
    position: absolute;
    width: 900px;
    z-index: 10;
    color: white;
}

hr {
    width: 60%;
    margin: 0 auto 50px auto;
    filter: opacity(0.7);
}

figcaption p {
    font-size: 1.3em;
    letter-spacing: 1px;
    font-style: italic;
    quotes: "«" "»";
}


/* ---- Dimensions des blocs ---- */

main {
    width: 1500px;
    margin: 0 auto 0 auto;
}

a.parcours:target~#parcours {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

section {
    margin: 0 0 5vw 0;
}

section.profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section .identity {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.identity p {
    font-size: 1.5em;
    margin-bottom: 15px;
}

q {
    margin-top: 30px;
    font-style: italic;
}

figure#avatar,
figure .avatar {
    border-radius: 50%;
}

figure#avatar {
    width: 300px;
    height: 300px;
}

figure .avatar {
    width: 100%;
    height: auto;
}

q {
    font-size: 1.3em;
    letter-spacing: 1px;
    font-style: italic;
    quotes: "«" "»";
}


/*--- cards de mes projets ---- */

.card {
    // --card-gradient: tomato, orange;
    --card-blend-mode: overlay;
    // --card-blend-mode: multiply;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-image: linear-gradient( var(--card-gradient), white max(9.5rem, 27vh));
    overflow: hidden;
    .projects {
        border-radius: 0.5rem 0.5rem 0 0;
        width: 100%;
        object-fit: cover;
        // height: max(10rem, 25vh);
        max-height: max(10rem, 30vh);
        aspect-ratio: 4/3;
        mix-blend-mode: var(--card-blend-mode);
        // filter: grayscale(100);
    }
    > :last-child {
        margin-bottom: 0;
    }
}

.card-overlay {
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(0, 0, 0, 0.85);
}

.card:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.projets .project-description {
    text-align: center;
    margin: 70px 0 70px 0;
}

.card h3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.card a {
    color: inherit;
}

.card p {
    text-align: center;
}

.card-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
}


/* --- arrow to top --- */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#accueil:target,
#profil:target,
#parcours:target,
#projets:target,
#contact:target {
    padding-top: 5vw;
    margin-top: -5vw;
}


/*# sourceMappingURL=style.css.map */


/*----- Contact ----- */

h1,
h4 {
    text-align: center;
}

h1 {
    font-family: "Poppins", sans-serif, "arial";
    font-weight: 600;
    font-size: 72px;
    color: white;
}

h4 {
    font-family: "Roboto", sans-serif, "arial";
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}


/* ///// inputs /////*/

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}

input[type="checkbox"]+label {
    color: #ccc;
    font-style: italic;
}

input[type="checkbox"]:checked+label {
    color: #f00;
    font-style: normal;
}